.hobbycard {
    overflow-x: hidden; /* or overflow-x: hidden; */
    width: 98vw;
  }

@media screen and (max-width:768px) {
    .btn-no-bg{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}