.cards-wrapper{
    height: 120vh;
    padding: 10vh 8vw  ;
    background: var(--Grey-white, #FFF);
}
.card-heading{
    display: flex;
    align-items: center;
}

.btn-no-bg {
    background-color: transparent !important;
    border-color: #8064A2 !important; /* You may adjust the border color */
    color: #8064A2 !important; /* You may adjust the text color */
  }
  